<div class="article-container">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">rivision of data structure</h3>
    </div>

    <div class="panel-body">
      <p>Algorithm <br/>
        Correctness and completeness <br/>
        1.partially correct <br/>
        一部分io一一对应 且符合relation <br/>
        <br/>
        2.totally correct <br/>
        both partially correct and complete <br/>
        所有的io都一一对应 且符合relation <br/>
        <br/>
        3.incorrect <br/>
        至少有一组io不对应（不符合relation）<br/>
        <br/>
        Functional Determinism and Non-determinism <br/>
        1.functionally Determinism <br/>
        所有可能的不同的input 都会得到一个相同的output <br/>
        <br/>
        2.functionally non-determinism <br/>
        同一个input 在不同的场合会得到不同的output <br/>

        **operationally deterministic** <br/>
        对每一个可能的input 都用same sequence of steps <br/>
        ##note <br/>
        Any operationally deterministic algorithm must also be functionally <br/>
        deterministic, but the converse does not hold. <br/>
        <br/>
        solving a Computational Problems <br/>
        solution - correct and complete with respect to the problem <br/>
        <br/>
        partial solution <br/>
        partially correct algorithm <br/>
        <br/>
        <br/>
        Big O order <br/>
        O(1)<O(log n)<O(n)<O(nlog n)<O(n2)
      </p>
    </div>
  </div>
</div>
