<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img id="pic1" src="assets/pic1.jpg" />
      <div class="caption">
        <h3>その光が描くのは</h3>
        <p>個展を開催することになりました。これまでとは違った角度で、皆さんと向き合えたらうれしいです。今からとても楽しみです。よろしくお願いします。期間：2017.9.5(tue)-9.17(sun)場所：GALLERY LE DECO（渋谷）http://yoakimi.loundraw.jp/<br/>转自pixiv by loudraw</p>
        <p><a href="assets/pic1.jpg" class="btn btn-primary" role="button" download="download">download</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img id="pic2" src="assets/pic2.jpg" />
      <div class="caption">
        <h3>Under the Overpassくのは</h3>
        <p>Glistening street lights
          Under the overpass
          Alone to the world
          A special moment
          Shared with you<br/>转自pixiv by Yuu</p>
        <p><a href="assets/pic2.jpg" class="btn btn-primary" role="button" download="download">download</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img id="pic3" src="assets/pic3.jpg" />
      <div class="caption">
        <h3>→天◎1080●下↓くのは</h3>
        <p>给#天下×洛天依乐正绫#游戏联动画的KV~~~<br/>转自pixiv by Criin</p>
        <p><a href="assets/pic3.jpg" class="btn btn-primary" role="button" download="download">download</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img id="pic4" src="assets/pic4.jpg" />
      <div class="caption">
        <h3>FGOlog2</h3>
        <p>ウルク終局新宿不夜城イベント…と怒濤の展開で、FGOありがとう…最高…周回がんばる………
と前回のログ以降ゲームばかりでろくに絵を描いてなかったんですが、あと片手で足りる日数でFGO始めて一周年なので、記念にひっそりやってるTwitterで投げてた落書きを少しだけまとめました。<br/><br/>フェスのドレスぐだ子ちゃん礼装と 、アニメアポクリをコマ送りで見ると見られるメット半開きモーさんの実装お願いします……
兜の開閉ほんとかっこよすぎかよ…すき…<br/>转自pixiv by 春来</p>
        <p><a href="assets/pic4.jpg" class="btn btn-primary" role="button" download="download">download</a></p>
      </div>
    </div>
  </div>


</div>
