<div class="list-group">
  <div class="panel panel-primary">
    <div class="panel-heading">rivision of data structure</div>
    <div class="panel-body">This is a brief review of ECM1414 data structure and algorithms</div>
    <div>
      <a (click)="jumpTo('user-register')" [routerLink]="['/article-data']" href="#">阅读全文</a>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">basic scipy concepts</div>
    <div class="panel-body">Panel content</div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">drawing graph in python</div>
    <div class="panel-body">Panel content</div>
  </div>

</div>

<div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
