body {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: fantasy;
    font-style: oblique;
}

ul li a:hover {
    color: #808080;
}

ul li a:active {
    color: #000000;
}

.title {
    font-family: fantasy;
    font-style: oblique;
    font-size: 30pt;
}
