body {
  font-size: 100%;
}

h1 {
  font-family: fantasy;
  font-style: oblique;
  font-size: 4em;
  color: #778899;
}



ul {
  font-size: 2em;
  font-family: fantasy;
  font-style: oblique;
  list-style: none;
  display:block;
  margin:0px;
  padding:0px;
}

ul li {
  width:20%;
  float:left;
  display:block;
  padding-top: 4px;
  padding-bottom: 6px;
  background-color: #8A2BE2;
}

ul li a {

  color: #F0FFFF;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

ul li a:hover {
  color:#808080;
}

ul li a:active {
  color:#000000;
}
